@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor{
    position: fixed;
    display: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
}

#sample h3:hover ~ .cursor{
    transform: scale(4);
}
